.preview {
  
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: end;
        & > h2 {
            padding: .5rem;
            visibility: hidden;
        }
        &.active > h2 {
            visibility: visible;
        }

        transition: transform .3s;
        &:hover {
            transform: scale(1.3);
        }

    }
}