<header class="header">
    <div class="header__logo">
        Dota 2
    </div>
    <nav class="header__nav nav">
        <ul class="nav__links">
            <li class="nav__item">
                <a routerLink="" class="nav__link">Heroes</a>
            </li>
            <li class="nav__item">
                <a routerLink="" class="nav__link">Items</a>
            </li>
            <li class="nav__item">
                <a routerLink="" class="nav__link">Heor</a>
            </li>
            <li class="nav__item">
                <a routerLink="" class="nav__link">Heor</a>
            </li>
        </ul>
    </nav>
</header>