@use '@angular/material' as mat;
@use 'variables' as store;

*,
::after,
::before {
  box-sizing: border-box;
}

html {
}


html,
body {
  height: 100%;
  font-size: 1rem;
  margin: 0;
  color: #fff;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, Lucida Grande, sans-serif;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

